<<<<<<< HEAD
body{background-color: aqua;
}

.heading{
    background-color:beige;
    padding: 20px;
    border: pink solid 5px;
    margin: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.img{
    
    padding: auto;
    text-align: center;



}

ul{ padding: 50px;
    font-size: 40px;
    font-weight: bold; 
    margin-left:  50px;
    text-indent: 1;

}

a{
    text-decoration: none;
    
}

a:hover{
    color: blueviolet;
}



