<<<<<<< HEAD
body{background-color: aqua;
}

.heading{
    background-color:beige;
    padding: 20px;
    border: pink solid 5px;
    margin: 20px;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.img{
    
    padding: auto;
    text-align: center;



}

ul{ padding: 50px;
    font-size: 40px;
    font-weight: bold; 
    margin-left:  50px;
    text-indent: 1;

}

a{
    text-decoration: none;
    
}

a:hover{
    color: blueviolet;
}

.pancake{
    color: blueviolet;
    
    
}
=======
.heading {
    background-color: aqua;
    font: bolder;
    color: black;
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
.list {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: left;
    font-size: large;

}

.pancake{
    color: red;
    font-size: 50px;
}

.vanillacupcake{
    color: green;
    font-size: 50px;
}

.waffles{
    color: blue;
    font-size: 50px;
}

.img{
    height: fit-content ;
    width: auto;
    align-items: center;
    border: 100cap;
    box-sizing: border-box;
}
>>>>>>> f9a60a03486d05d502741cdfbfe6b444afcd88ef
